/*
	GERAL CSS
*/
.mt-6{
	margin-top: 6rem;
}
/*
	Index CSS of flartur95.github.io
	NAVBAR & Itens
*/

.nav-img-artur{
	border-radius: 5px;
}
.navbar-brand{
	display: inline !important;
}

/*
	JUMBOTRON
*/

.jumbotron {
	position: relative;
	overflow: hidden;
	background-color:black;
}
.jumbotron video {
	position: absolute;
	z-index: 1;
	top: 0;
	width:100%;
	height:100%;
	/*  object-fit is not supported on IE  */
	opacity: 0.5;
	object-fit: cover;
	border-radius: 5px;
}
.jumbotron .container {
	z-index: 2;
	position: relative;
}

/*TYPER*/
.line-1{
    position: relative;
    top: 50%;  
    width: 12em;
    margin: 0 auto;
    border-right: 2px solid green;
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    
}
/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
 			blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 12em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: green}
  to{border-right-color: transparent;}
}

/*CARD*/
.card-body{
    border-top: 4px solid #68AAE8;   
}
.anim-card{
	animation: cardtop 4s;
}

@keyframes cardtop{
	0%   {border-top: 4px solid #809FFF;}
	25%  {border-top: 4px solid #F5E8AA;}
	50%  {border-top: 4px solid #DA4531;}
	100% {border-top: 4px solid #68AAE8;}
}

.card-img-top{
	max-height: 170px;
    object-fit: cover;
}

